{
  "openapi": "3.1.0",
  "info": {
    "title": "Delora API",
    "description": "Delora API",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://api.delora.build" }
  ],
  "paths": {
    "/v1/quotes": {
      "get": {
        "summary": "Get a quote for a token transfer",
        "description": "",
        "parameters": [
          {
            "name": "originChainId",
            "in": "query",
            "required": true,
            "description": "The sending chain id",
            "schema": { "type": "number" }
          },
          {
            "name": "destinationChainId",
            "in": "query",
            "required": true,
            "description": "The receiving chain id",
            "schema": { "type": "number" }
          },
          {
            "name": "originCurrency",
            "in": "query",
            "required": true,
            "description": "The token address that should be transferred",
            "schema": { "type": "string" }
          },
          {
            "name": "destinationCurrency",
            "in": "query",
            "required": true,
            "description": "The token address that should be transferred to",
            "schema": { "type": "string" }
          },
          {
            "name": "senderAddress",
            "in": "query",
            "required": true,
            "description": "The sending wallet address",
            "schema": { "type": "string" }
          },
          {
            "name": "receiverAddress",
            "in": "query",
            "required": false,
            "description": "The receiving wallet address. If none is provided, the senderAddress will be used",
            "schema": { "type": "string" }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "The amount that should be sent including all decimals (e.g. 1000000 for 1 USDC with 6 decimals)",
            "schema": { "type": "string" }
          },
          {
            "name": "integrator",
            "in": "query",
            "required": false,
            "description": "A string containing tracking information about the integrator of the API",
            "schema": { "type": "string" }
          },
          {
            "name": "fee",
            "in": "query",
            "required": false,
            "description": "An optional fee applied to the transaction, expressed as a decimal value. \nSupported range is from 0 to 0.1 (0 – 10%). \nIf this parameter is not specified, no fees are collected.",
            "schema": { "type": "string" }
          },
          {
            "name": "slippage",
            "in": "query",
            "required": false,
            "description": "Specifies the maximum permissible slippage for a transaction, expressed as a decimal value. For example, 0.005 corresponds to a slippage of 0.5%.\n Allowed range: 0 ≤ x ≤ 1",
            "schema": { "type": "number" }
          },
          {
            "name": "excludeBridges",
            "in": "query",
            "required": false,
            "description": "List of bridge adapters that should be excluded from the `/quotes`. Bridge tool identifiers must be provided as a comma-separated list. Retrieve current bridge keys from the `/v1/tools` endpoint.",
            "schema": { 
              "type": "string",
              "examples": ["relay", "relay, mayan"]
            }
          },
          {
            "name": "excludeExchanges",
            "in": "query",
            "required": false,
            "description": "List of exchange adapters that should be excluded from the `/quotes`. Exchange tool identifiers must be provided as a comma-separated list. Retrieve current exchange keys from the `/v1/tools` endpoint.",
            "schema": { 
              "type": "string",
              "examples": ["jupiter", "okx, across"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quote response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/QuoteResponse" },
                "examples": {
                  "success": {
                    "summary": "Example quote",
                    "value": {
                      "inputAmount": "1000000",
                      "outputAmount": "998400",
                      "adapter": "RELAY",
                      "calldata": {
                          "to": "0xRouterContract",
                          "data": "0xabcdef...",
                          "value": "0"
                      },
                      "fees": {
                        "total": {
                          "amount": "534942",
                          "currencySymbol": "USDC",
                          "currencyAddress": "0xaf88d065e77c8cc2239327c5edb3a432268e5831",
                          "chainId": 42161,
                          "decimals": 6
                        },
                        "breakdown": [
                          {
                            "type": "gas",
                            "amount": "494502800000",
                            "currencySymbol": "ETH",
                            "currencyAddress": "0x0000000000000000000000000000000000000000",
                            "chainId": 42161,
                            "decimals": 18,
                            "amountUsd": "0.001475"
                          },
                          {
                            "type": "relayer",
                            "amount": "267471",
                            "currencySymbol": "USDC",
                            "currencyAddress": "0xaf88d065e77c8cc2239327c5edb3a432268e5831",
                            "chainId": 42161,
                            "decimals": 6,
                            "amountUsd": "0.267404"
                          }
                        ],
                        "totalUsd": "0.536283"
                      },
                      "gas": {
                        "gasPrice": "0x018e2d98"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (missing or invalid parameters)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "missingParam": {
                    "value": {
                      "error": 400,
                      "message": "originCurrency is required"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable quote (route not found or unsupported pair)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "noRoute": {
                    "value": {
                      "error": 422,
                      "message": "No available route for given parameters"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/v1/chains": {
      "get": {
        "summary": "List supported chains",
        "description": "Returns all supported chains. Optionally filter by chain types.",
        "parameters": [
          {
            "name": "chainTypes",
            "in": "query",
            "required": false,
            "description": "List of chain types to include (EVM,SVM).",
            "schema": {
              "type": "string",
              "examples": ["EVM", "EVM, SVM"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of chains",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChainsResponse" },
                "examples": {
                  "success": {
                    "summary": "Example chains response",
                    "value": {
                      "chains": [
                        {
                          "key": "eth",
                          "name": "Ethereum",
                          "chainType": "EVM",
                          "id": 1,
                          "idHex": "0x1",
                          "mainnet": true,
                          "logoURI": "https://raw.githubusercontent.com/AlyraLabs/types/main/src/assets/icons/chains/ethereum.svg",
                          "tokenlistUrl": "https://gateway.ipfs.io/ipns/tokens.uniswap.org",
                          "multicallAddress": "0xcA11bde05977b3631167028862bE2a173976CA11",
                          "rpcUrls": [
                            "https://ethereum-rpc.publicnode.com",
                            "https://eth.drpc.org"
                          ],
                          "blockExplorerUrls": "https://etherscan.io/",
                          "nativeToken": {
                            "address": "0x0000000000000000000000000000000000000000",
                            "decimals": 18,
                            "symbol": "ETH",
                            "chainId": 1,
                            "coinKey": "ETH",
                            "name": "ETH",
                            "logoURI": "https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/ethereum/assets/0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2/logo.png"
                          },
                          "DeloraDiamond": "0x8FE04AcCD609b7Aa08a03Ef7cfa2B04E2A1A5d3d"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/v1/tools": {
      "get": {
        "summary": "List available exchanges and bridges",
        "description": "Returns available tools (DEX aggregators, bridges, etc.). You can filter by chain IDs that the tool supports.",
        "parameters": [
          {
            "name": "chains",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of chain identifiers to filter the instruments.",
            "schema": {
              "type": "string",
              "example": "1,56,10"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tools grouped by type",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ToolsResponse" },
                "examples": {
                  "success": {
                    "summary": "Example tools response",
                    "value": {
                      "exchanges": [
                        {
                          "key": "OPENOCEAN",
                          "name": "OpenOcean",
                          "logoURI": "https://raw.githubusercontent.com/AlyraLabs/types/main/src/assets/icons/bridges/openocean.png",
                          "supportedChains": [
                            "1",
                            "56",
                            "10",
                            "137",
                            "42161",
                            "8453",
                            "130",
                            "146",
                            "999",
                            "9745",
                            "1329",
                            "43114",
                            "59144",
                            "80094"
                          ]
                        }
                      ],
                      "bridges": [
                        {
                          "key": "ACROSS",
                          "name": "Across",
                          "logoURI": "https://raw.githubusercontent.com/AlyraLabs/types/main/src/assets/icons/bridges/across.svg",
                          "supportedChains": [
                            "1",
                            "10",
                            "56",
                            "137",
                            "59144",
                            "8453",
                            "42161",
                            "130",
                            "324",
                            "480",
                            "999",
                            "1135",
                            "34443",
                            "534352",
                            "81457",
                            "9745",
                            "1868"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/v1/tokens": {
      "get": {
        "summary": "List supported tokens",
        "description": "Returns tokens supported by the protocol, optionally filtered by chain IDs and chain types.",
        "parameters": [
          {
            "name": "chains",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of chain IDs to include.",
            "schema": {
              "type": "string",
              "example": "1,56,10"
            }
          },
          {
            "name": "chainTypes",
            "in": "query",
            "required": false,
            "description": "List of chain types to include.",
            "schema": {
              "type": "string",
              "examples": ["EVM", "EVM,SVM"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tokens grouped by chain ID",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TokensResponse" },
                "examples": {
                  "success": {
                    "summary": "Example tokens response",
                    "value": {
                      "1": [
                        {
                          "address": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                          "symbol": "WETH",
                          "decimals": 18,
                          "chainId": 1,
                          "name": "Wrapped Ether",
                          "coinKey": "WETH",
                          "priceUSD": "3180.67",
                          "logoURI": "https://github.com/trustwallet/assets/blob/master/blockchains/ethereum/assets/0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2/logo.png?raw=true"
                        },
                        {
                          "address": "0x0000000000000000000000000000000000000000",
                          "symbol": "ETH",
                          "decimals": 18,
                          "chainId": 1,
                          "name": "Ether",
                          "coinKey": "ETH",
                          "priceUSD": "3180.67",
                          "logoURI": "https://github.com/trustwallet/assets/blob/master/blockchains/ethereum/assets/0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2/logo.png?raw=true"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/v1/token": {
      "get": {
        "summary": "Get a single token",
        "description": "Returns detailed information for a single token identified by chain and address or symbol.",
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "description": "Chain identifier: numeric chain ID or chain key.",
            "schema": {
              "type": "string",
              "examples": ["1", "eth"]
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Token identifier: contract address or symbol.",
            "schema": {
              "type": "string",
              "examples": [
                "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                "WETH"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token metadata",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Token" },
                "examples": {
                  "success": {
                    "summary": "Example token response",
                    "value": {
                      "address": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                      "symbol": "WETH",
                      "decimals": 18,
                      "chainId": 1,
                      "name": "Wrapped Ether",
                      "coinKey": "WETH",
                      "priceUSD": "3180.67",
                      "logoURI": "https://github.com/trustwallet/assets/blob/master/blockchains/ethereum/assets/0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2/logo.png?raw=true"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (missing or invalid parameters)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "missingParam": {
                    "value": {
                      "error": 400,
                      "message": "chain and token are required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    }

  },
  "components": {
    "schemas": {
      "QuoteResponse": {
        "type": "object",
        "required": ["inputAmount", "outputAmount", "tool", "calldata"],
        "properties": {
          "inputAmount": {
            "type": "string",
            "description": "The amount that should be transferred including all decimals"
          },
          "outputAmount": {
            "type": "string",
            "description": "The estimated resulting amount of the destinationCurrency including all decimals"
          },
          "tool": {
            "type": "string",
            "description": "The tool used for the transaction"
          },
          "calldata": {
            "type": "array",
            "description": "The transaction data that can be triggered using a wallet provider",
            "items": { "$ref": "#/components/schemas/CalldataItem" }
          },
          "fees": {
            "type": "array",
            "description": "Fees included in the transfer",
            "items": { "$ref": "#/components/schemas/Fee" }
          },
          "gas": {
            "type": "array",
            "description": "Gas included in the transfer",
            "items": { "$ref": "#/components/schemas/Gas" }
          }
        }
      },
      "CalldataItem": {
        "type": "object",
        "description": "Execution payload; fields may vary by chain/tool",
        "properties": {
          "to": { "type": "string", "description": "Target contract/address" },
          "value": { "type": "string", "description": "Native value to send" },
          "data": { "type": "string", "description": "Calldata hex" }
        },
        "additionalProperties": true
      },
      "Fee": {
        "type": "object",
        "additionalProperties": true
      },
      "Gas": {
        "type": "object",
        "properties": {
          "gasPrice": { "type": "hex", "description": "Legacy gas price in wei used for non-EIP-1559 transactions" },
          "maxFeePerGas": { "type": "hex", "description": "Maximum total gas fee in wei the sender is willing to pay (base fee + priority fee)" },
          "maxPriorityFeePerGas": { "type": "hex", "description": "Priority fee in wei (tip) paid to validators to incentivize faster transaction inclusion" }
        },
        "additionalProperties": true
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": { "type": "integer", "format": "int32" },
          "message": { "type": "string" }
        }
      },
      "ChainsResponse": {
        "type": "object",
        "properties": {
          "chains": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Chain" }
          }
        }
      },
      "Chain": {
        "type": "object",
        "properties": {
          "key": { "type": "string", "description": "Short chain key (e.g., eth, opt)" },
          "name": { "type": "string", "description": "Full name of the blockchain network"},
          "chainType": { "type": "string", "description": "Type of chain: EVM, SVM" },
          "id": { "type": "integer", "description": "Numeric chain ID used in RPC and contracts" },
          "idHex": { "type": "string", "description": "Hexadecimal representation of the chain ID" },
          "mainnet": { "type": "boolean", "description": "Indicates whether the chain is a mainnet" },
          "logoURI": { "type": "string", "format": "uri", "description": "URL of the chain logo image" },
          "tokenlistUrl": { "type": "string", "format": "uri", "description": "URL pointing to the token list for this chain" },
          "multicallAddress": { "type": "string", "description": "Address of the multicall contract" },
          "rpcUrls": {
            "type": "array",
            "items": { "type": "string", "format": "uri" },
            "description": "List of RPC endpoints for accessing the chain"
          },
          "blockExplorerUrls": { "type": "string", "description": "URL of the main block explorer for the chain" },
          "nativeToken": { "$ref": "#/components/schemas/NativeToken", "description": "Native token used for gas payments on this chain" }
        },
        "required": ["key", "name", "chainType", "id", "idHex", "mainnet"]
      },
      "NativeToken": {
        "type": "object",
        "properties": {
          "address": { "type": "string", "description": "Token address (0x0 for native coins like ETH)" },
          "decimals": { "type": "integer", "description": "Number of decimals used by the token" },
          "symbol": { "type": "string", "description": "Ticker symbol of the token (e.g., ETH)" },
          "chainId": { "type": "integer", "description": "Chain ID to which the token belongs" },
          "coinKey": { "type": "string", "description": "Short identifier for the token used across chains" },
          "name": { "type": "string", "description": "Full name of the token" },
          "logoURI": { "type": "string", "format": "uri", "description": "URL of the token logo image" }
        },
        "required": ["address", "decimals", "symbol", "chainId", "coinKey", "name"]
      },
      "ToolsResponse": {
        "type": "object",
        "properties": {
          "exchanges": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Exchange" }
          },
          "bridges": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Bridge" }
          }
        }
      },
      "Exchange": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Unique tool key, e.g. OPENOCEAN"
          },
          "name": {
            "type": "string",
            "description": "Exchange name"
          },
          "logoURI": {
            "type": "string",
            "format": "uri",
            "description": "URL to the tool logo"
          },
          "supportedChains": {
            "type": "array",
            "description": "List of chain IDs as strings this exchange supports",
            "items": { "type": "string" }
          }
        },
        "required": ["key", "name", "supportedChains"]
      },
      "Bridge": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Unique tool key, e.g. ACROSS"
          },
          "name": {
            "type": "string",
            "description": "Bridge name"
          },
          "logoURI": {
            "type": "string",
            "format": "uri",
            "description": "URL to the tool logo"
          },
          "supportedChains": {
            "type": "array",
            "description": "List of chain IDs as strings this bridge supports",
            "items": { "type": "string" }
          }
        },
        "required": ["key", "name", "supportedChains"]
      },
      "Token": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "Token contract address"
          },
          "symbol": {
            "type": "string",
            "description": "Token ticker symbol (e.g., WETH)"
          },
          "decimals": {
            "type": "integer",
            "description": "Number of decimals used by the token"
          },
          "chainId": {
            "type": "integer",
            "description": "Chain ID to which the token belongs"
          },
          "name": {
            "type": "string",
            "description": "Human-readable token name"
          },
          "coinKey": {
            "type": "string",
            "description": "Short identifier for the token used across chains"
          },
          "priceUSD": {
            "type": "string",
            "description": "Token price in USD represented as a string"
          },
          "logoURI": {
            "type": "string",
            "format": "uri",
            "description": "URL of the token logo image"
          }
        },
        "required": ["address", "symbol", "decimals", "chainId", "name", "coinKey"]
      },
      "TokensResponse": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/Token"
          }
        }
      }
    }
  }
}